*, *::after, *::after{
    box-sizing: border-box;
    margin: auto;
    font-family: "Work Sans", sans-serif;
    color: black;
}
html, body {
    background-color: #fce6e6;
}
header {
    padding: 30px 20px;
}
h1 {
    color: #ff0000;
    text-align: center;
    padding: 10px 0;
    letter-spacing: .1em;
    font-size: 1.75em;
    font-weight: 400;
}
#textdecornone{
    text-decoration: none;
}
h2 {
    text-align: center;
    padding: 10px 0;
}
nav {
    display: flex;
    padding: 10px;
}
.nav-links, .nav-links:link{
    margin: 0;
    text-align: center;
    display: block;
    padding: 10px;
    letter-spacing: .5em;
    font-weight: 190;
    color: black;
    line-height: 1.5em;
    text-decoration: none;
    
}

a:hover, .nav-links:hover{
    background-color: #f900a6;
}
#mainhome {
    margin: auto;
    padding: 10px;
    text-align: center;
}
li{
    list-style: none;
    text-align: center;
    padding: 2px;
}
a, a:link, a:active {
    text-decoration: none;   
}
#h1top, #h1top:hover{
    text-decoration: none;
    background-color: #fce6e6;
}
a:visted {
    text-decoration:line-through;
}
a:hover, a:active {
    text-decoration: underline;
}
#container{
    display: grid;
    grid-template-columns: auto;
    
}
.griditem {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 15px;
    font-weight: 250;
    line-height: 1.6em;
    letter-spacing: .1em; 
}
.griditem:hover{
    animation-name: grid;
    animation-duration: 4s;
    animation-direction: normal;
}
.quotes{
    padding: 20px 0;
}
#top{
    text-align:left;
    width: 75%;
    margin:auto;
}
#bottom{
    text-align:left;
    padding: 0 20% 0 0;
    margin: 20px 0 0 60px;
}
/* @keyframes grid {
    100% {background-color: black;}
  } */

#grayx {
    padding: 0 100% 0 0;
    color: rgb(192, 186, 186);
}
#grayx:hover {
    padding: 0 100% 0 0;
    color:rgb(1, 254, 149);
    animation-name: x;
    animation-duration: 4s;
    animation-direction: normal;
}
@keyframes x {
    100% {padding: 0 0 0 100%;}
  }
.debtImage {
    width: 98%;
    margin: auto;
}
.rednote{
    font-size: 12px;
    color: red;
}
footer {
    background-color: rgb(1, 254, 149);
    text-align: center;
    padding: 30px 20px;
    font-weight: 250;
    color: black;
}
.footer-items, .footer-items:link{
    display: block;
    padding: 5px;
    font-weight: 250;
    color: black;
    text-decoration: none;
    letter-spacing: .05em;
    
}